@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap");
body {
  background-image: linear-gradient(to top, rgba(230, 230, 230, 0.26) 0%, rgba(230, 230, 230, 0.137) 100%), url("../img/krystian-piatek-DO9LH7eJXPg-unsplash.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

body header {
  width: 100vw;
  text-align: center;
}

body header h1 {
  padding-top: 5vh;
  font-size: 8vw;
  font-family: "Cinzel Decorative", cursive;
}

body main {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

body main div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: 25vh;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.171) 0%, rgba(255, 255, 255, 0.363) 50%, rgba(255, 255, 255, 0.171) 100%);
  border-radius: 50px;
  box-shadow: 5px 5px 10px black;
}

body main div p {
  font-size: 40px;
  font-weight: bold;
}

body main div:nth-child(1),
body main div:nth-child(2) {
  margin-bottom: 50px;
  margin-top: 50px;
}

body main div.press {
  box-shadow: inset 5px 5px 10px black;
}
